.description {
  margin-bottom: 15px;
  .product__title {
    font-size: $main-font-size;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px;
  }
  .product__description {
    font-size: 11px;
  }
}
